body {
  font-family: arial, sans-serif;
}
footer {
  width: 100%;
  text-align: center;
  height: 80px;
  background-color: #f8f9fa;
  margin-top: 300px;
  box-sizing: border-box;
}
.main-header {
  width: 98%;
  height: 50px;
  margin: auto;
  overflow: hidden;
}
.main-menu ul {
  list-style-type: none;
  text-align: right;
}
.main-menu ul li {
  display: inline-block;
  margin-left: 20px;
}
.main-menu ul li:first-child, .main-menu ul li:nth-child(2) {
  position: relative;
  bottom: 20px;
}
.main-menu ul li:nth-child(3), .main-menu ul li:nth-child(4) {
  position: relative;
  bottom: 15px;
}

.main-menu ul li a {
  color: rgb(54, 53, 53);
  text-decoration: none;
  font-size: 13px;
}
.main-menu ul li a:hover {
  text-decoration: underline;
}
.menu-icon:hover {
  background-color: #ccc;
}
.git-link {
  border-radius: 100%;
  position: relative;
  top: 10px;
}
.header-main {
  text-align: center;
  margin-top: 208px;
}
.google-research {
  text-align: center;
  margin-top: 20px;
  height: 120px;
}
.div-search {
  width: 580px;
  height: 45px;
  margin: auto;
  border-radius: 45px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.search-form {
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  border: none;
  position: relative;
  bottom: 26px;
}
.div-search:hover {
  box-shadow: 2px 2px rgb(221, 218, 218);
}
.finder-icon {
  position: relative;
  right: 270px;
  top: 10px;
}
.mic-icon {
  position: relative;
  left: 270px;
  bottom: 87px;
}
.google-research input {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
.search-btn {
  float: left;
  position: relative;
  left: 42%;
  font-size: 14px;
  color: rgb(54, 53, 53);
  border: 1px solid transparent;
  background-color: #f8f9fa;
  box-sizing: border-box;
  padding: 10px;
  transition: border 0.2s;
}
.lucky-btn {
  float: right;
  position: relative;
  right: 42%;
  font-size: 14px;
  border: 1px solid transparent;
  background-color: #f8f9fa;
  box-sizing: border-box;
  padding: 10px;
  transition: border 0.2s;
}
.search-btn:hover, .lucky-btn:hover {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
} 
.offer {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}
.country {
  position: absolute;
  left: 40px;
  bottom: 60px;
  font-size: 14px;
  color: rgb(54, 53, 53);
}
.footer-menu-1 {
  position: absolute;
  bottom: 20px;
  left: 0px;
}
.footer-menu-2 {
  position: absolute;
  right: 50px;
  bottom: 20px;
}
.footer-menu-1 ul, .footer-menu-2 ul {
  display: inline;
}
.footer-menu-1 ul li {
  display: inline-block;
  letter-spacing: 1.5px;
  margin-right: 10px;
}
.footer-menu-2 ul li {
  display: inline-block;
  letter-spacing: 1.5px;
  margin-left: 10px;
}
.footer-menu-1 ul li a {
  color: rgb(54, 53, 53);
  font-size: 14px;
  text-decoration: none;
}
.footer-menu-2 ul li a {
  color: rgb(54, 53, 53);
  font-size: 14px;
  text-decoration: none;
}
.footer-menu-1 ul li a:hover, .footer-menu-2 ul li a:hover {
  text-decoration: underline;
}
.footer-span-section {
  text-align: left;
  margin-bottom: 20px;
}
.footer-menu-section {
 text-align: left;
}